/* Estilos para a barra superior*/
.header-bar {
    width: 100%;
    height: 40px; 
    background-color: #A32929; 
    /* Não adicionei margem inferior aqui para não alterar o layout */
}


h2 {
    font-family: Arial, sans-serif; 
    font-size: 24px;
    color: #333;
    margin-bottom: 15px; 
}


input[type="text"],
input[type="email"],
input[type="text"][placeholder="Assunto"], 
textarea {
    
    width: 250px; 
    padding: 8px 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
 
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #A32929;
    outline: none; 
}

textarea {
    resize: vertical; 
    min-height: 80px; 
}


input[type="checkbox"] {
    margin-right: 5px; 
    vertical-align: middle; 
}


button {
    padding: 10px 20px;
    background-color: #A32929; 
    color: white;
    border: none;
    border-radius: 8px; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7a1f1f; 
}